In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [3]:
PATH = "data"

In [9]:
!pwd

/home/coolck/Development/fastai2/fastai/courses/ml1/data

In [8]:
!ls

Bulldozer.csv  dogscats      Train.zip	       weather_data.ipynb
bulldozers     dogscats.zip  weather_data.csv

In [32]:
df  = pd.read_csv(f'{PATH}/weather_data.csv', low_memory=False, parse_dates=['TIMESTAMP'])

In [33]:
df.head()

,Devicename,id,TIMESTAMP,Battery_Voltage,Datalogger_Temperature,Plane_of_Array_Irradiance_Tripod_Watt/m2,Plane_of_Array_Irradiance_Tripod_Watt_Hour,Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated,Plane_of_Array_Irradiance_Module_Watt/m2,Plane_of_Array_Irradiance_Module_Watt_Hour,...,Barometric_Pressure,1st_Solar_Reference_cell_Radiatio_Watt/m2,1st_Solar_Reference_cell_Temperature_Deg_C,2nd_Solar_Reference_cell_Radiation_Watt/m2,2nd_Solar_Reference_cell_Temperature_Deg_C,3rd_Solar_Reference_cell_Radiation_Watt/m2,3rd_Solar_Reference_cell_Temperature_Deg_C,4th_Solar_Reference_cell_Radiation_Watt/m2,4th_Solar_Reference_cell_Temperature_Deg_C,Grid_Status
0,Weather_Station,2985,2017-05-01 00:00:02,12.624,26.397,0.531,0.0,543.968,0.0,0.0,...,1003.57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,Weather_Station,2986,2017-05-01 00:15:01,12.614,26.345,0.503,0.0,0.006,0.0,0.0,...,1003.44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,Weather_Station,2987,2017-05-01 00:30:01,12.605,26.280,0.040,0.0,0.013,0.0,0.0,...,1003.20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,Weather_Station,2988,2017-05-01 00:45:01,12.598,26.160,0.000,0.0,0.013,0.0,0.0,...,1002.99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,Weather_Station,2989,2017-05-01 01:00:01,12.590,26.022,0.000,0.0,0.013,0.0,0.0,...,1002.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [34]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000): 
        with pd.option_context("display.max_columns", 1000): 
            display(df)

In [8]:
display_all(df.head().transpose())

,0,1,2,3,4
Devicename,Weather_Station,Weather_Station,Weather_Station,Weather_Station,Weather_Station
id,2985,2986,2987,2988,2989
TIMESTAMP,2017-05-01 00:00:02,2017-05-01 00:15:01,2017-05-01 00:30:01,2017-05-01 00:45:01,2017-05-01 01:00:01
Battery_Voltage,12.624,12.614,12.605,12.598,12.59
Datalogger_Temperature,26.397,26.345,26.28,26.16,26.022
Plane_of_Array_Irradiance_Tripod_Watt/m2,0.531,0.503,0.04,0,0
Plane_of_Array_Irradiance_Tripod_Watt_Hour,0,0,0,0,0
Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated,543.968,0.006,0.013,0.013,0.013
Plane_of_Array_Irradiance_Module_Watt/m2,0,0,0,0,0
Plane_of_Array_Irradiance_Module_Watt_Hour,0,0,0,0,0
Plane_of_Array_Irradiance_Module_Watt_Hour_Accumulated,543.968,0.006,0.013,0.013,0.013
Global_Horizontal_Irradiance_Tripod_Watt/m2,0.468,0.364,0,0,0
Global_Horizontal_Irradiance_Tripod_Watt_Hour,0,0,0,0,0
Global_Horizontal_Irradiance_Tripod_Watt_Hour_Accumulated,558.069,0.003,0.009,0.009,0.009
Ambient_Temperature_Deg_C,25.933,25.837,25.674,25.639,25.446
Relative_Humidity_Percentage,92.27,92.515,93.883,94.657,94.742
Wind_Speed_meter_per_second,0.696,0.174,0.136,0,0.369
Wind_Direction_Degree,237.55,238.965,251.127,281.287,188.641
Module_Temperature_Deg,24.762,24.563,24.335,24.067,23.918
Rainfall_mm,0,0,0,0,0
Accumulated_Rainfall_mm,7.738,0,0,0,0
Barometric_Pressure,1003.57,1003.44,1003.2,1002.99,1002.75
1st_Solar_Reference_cell_Radiatio_Watt/m2,0,0,0,0,0
1st_Solar_Reference_cell_Temperature_Deg_C,0,0,0,0,0
2nd_Solar_Reference_cell_Radiation_Watt/m2,0,0,0,0,0
2nd_Solar_Reference_cell_Temperature_Deg_C,0,0,0,0,0
3rd_Solar_Reference_cell_Radiation_Watt/m2,0,0,0,0,0
3rd_Solar_Reference_cell_Temperature_Deg_C,0,0,0,0,0
4th_Solar_Reference_cell_Radiation_Watt/m2,0,0,0,0,0
4th_Solar_Reference_cell_Temperature_Deg_C,0,0,0,0,0
Grid_Status,NaN,NaN,NaN,NaN,NaN

In [35]:
cols = ['TIMESTAMP',
        'Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated',
        'Ambient_Temperature_Deg_C',
        'Relative_Humidity_Percentage',
        'Rainfall_mm',
        'Barometric_Pressure',
        'Plane_of_Array_Irradiance_Tripod_Watt/m2'
       ]

In [36]:
df2 = df[cols]
df2.head()

,TIMESTAMP,Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated,Ambient_Temperature_Deg_C,Relative_Humidity_Percentage,Rainfall_mm,Barometric_Pressure,Plane_of_Array_Irradiance_Tripod_Watt/m2
0,2017-05-01 00:00:02,543.968,25.933,92.270,0.0,1003.57,0.531
1,2017-05-01 00:15:01,0.006,25.837,92.515,0.0,1003.44,0.503
2,2017-05-01 00:30:01,0.013,25.674,93.883,0.0,1003.20,0.040
3,2017-05-01 00:45:01,0.013,25.639,94.657,0.0,1002.99,0.000
4,2017-05-01 01:00:01,0.013,25.446,94.742,0.0,1002.75,0.000

In [37]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19146 entries, 0 to 19145
Data columns (total 7 columns):
TIMESTAMP                                                 19146 non-null datetime64[ns]
Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated    19143 non-null float64
Ambient_Temperature_Deg_C                                 19146 non-null float64
Relative_Humidity_Percentage                              19143 non-null float64
Rainfall_mm                                               19145 non-null float64
Barometric_Pressure                                       19143 non-null float64
Plane_of_Array_Irradiance_Tripod_Watt/m2                  19145 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 1.0 MB

In [15]:
import seaborn as sns

In [17]:
file_name = 'weather2.csv'
df.to_csv(file_name, sep='\t')

In [ ]:
print(train[train.isnull().any(axis=1)][null_columns].head())

In [19]:
pd.isnull(df2).any(1).nonzero()[0]

array([ 3520, 19026, 19027])

In [20]:
df2.iloc[3520]

TIMESTAMP                                                 2017-06-08 10:45:01
Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated                    NaN
Ambient_Temperature_Deg_C                                                   0
Relative_Humidity_Percentage                                              NaN
Rainfall_mm                                                               NaN
Barometric_Pressure                                                       NaN
Plane_of_Array_Irradiance_Tripod_Watt/m2                                  NaN
Name: 3520, dtype: object

In [21]:
df2.iloc[19026]

TIMESTAMP                                                 2017-11-23 08:37:00
Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated                    NaN
Ambient_Temperature_Deg_C                                               28.95
Relative_Humidity_Percentage                                              NaN
Rainfall_mm                                                                 0
Barometric_Pressure                                                       NaN
Plane_of_Array_Irradiance_Tripod_Watt/m2                              517.686
Name: 19026, dtype: object

In [23]:
df2.iloc[19027]

TIMESTAMP                                                 2017-11-23 08:38:57
Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated                    NaN
Ambient_Temperature_Deg_C                                             28.9675
Relative_Humidity_Percentage                                              NaN
Rainfall_mm                                                                 0
Barometric_Pressure                                                       NaN
Plane_of_Array_Irradiance_Tripod_Watt/m2                              521.882
Name: 19027, dtype: object

In [40]:
df2['HOUR'] = df2['TIMESTAMP'].dt.hour
df2['MINUTE'] = df2['TIMESTAMP'].dt.minute
#sales.timestamp.dt.hour
#df2['DATE'] = df2['TIMESTAMP'].dt.date
#df2['Date']

/home/coolck/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/coolck/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [41]:
df2.head()

,TIMESTAMP,Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated,Ambient_Temperature_Deg_C,Relative_Humidity_Percentage,Rainfall_mm,Barometric_Pressure,Plane_of_Array_Irradiance_Tripod_Watt/m2,HOUR,MINUTE
0,2017-05-01 00:00:02,543.968,25.933,92.270,0.0,1003.57,0.531,0,0
1,2017-05-01 00:15:01,0.006,25.837,92.515,0.0,1003.44,0.503,0,15
2,2017-05-01 00:30:01,0.013,25.674,93.883,0.0,1003.20,0.040,0,30
3,2017-05-01 00:45:01,0.013,25.639,94.657,0.0,1002.99,0.000,0,45
4,2017-05-01 01:00:01,0.013,25.446,94.742,0.0,1002.75,0.000,1,0

In [43]:
add_datepart(df2, 'TIMESTAMP')

/home/coolck/Development/fastai2/fastai/courses/ml1/fastai/structured.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[targ_pre+n] = getattr(fld.dt,n.lower())
/home/coolck/Development/fastai2/fastai/courses/ml1/fastai/structured.py:113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[targ_pre+'Elapsed'] = fld.astype(np.int64) // 10**9
/home/coolck/Development/fastai2/fastai/courses/ml1/fastai/structured.py:114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if drop: df.drop(fldname, axis=1, inplace=True)

In [45]:
df2.columns

Index(['Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated',
       'Ambient_Temperature_Deg_C', 'Relative_Humidity_Percentage',
       'Rainfall_mm', 'Barometric_Pressure',
       'Plane_of_Array_Irradiance_Tripod_Watt/m2', 'HOUR', 'MINUTE',
       'TIMESTAMPYear', 'TIMESTAMPMonth', 'TIMESTAMPWeek', 'TIMESTAMPDay',
       'TIMESTAMPDayofweek', 'TIMESTAMPDayofyear', 'TIMESTAMPIs_month_end',
       'TIMESTAMPIs_month_start', 'TIMESTAMPIs_quarter_end',
       'TIMESTAMPIs_quarter_start', 'TIMESTAMPIs_year_end',
       'TIMESTAMPIs_year_start', 'TIMESTAMPElapsed'],
      dtype='object')

In [46]:
display_all(df2.head().transpose())

,0,1,2,3,4
Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated,543.968,0.006,0.013,0.013,0.013
Ambient_Temperature_Deg_C,25.933,25.837,25.674,25.639,25.446
Relative_Humidity_Percentage,92.27,92.515,93.883,94.657,94.742
Rainfall_mm,0,0,0,0,0
Barometric_Pressure,1003.57,1003.44,1003.2,1002.99,1002.75
Plane_of_Array_Irradiance_Tripod_Watt/m2,0.531,0.503,0.04,0,0
HOUR,0,0,0,0,1
MINUTE,0,15,30,45,0
TIMESTAMPYear,2017,2017,2017,2017,2017
TIMESTAMPMonth,5,5,5,5,5
TIMESTAMPWeek,18,18,18,18,18
TIMESTAMPDay,1,1,1,1,1
TIMESTAMPDayofweek,0,0,0,0,0
TIMESTAMPDayofyear,121,121,121,121,121
TIMESTAMPIs_month_end,False,False,False,False,False
TIMESTAMPIs_month_start,True,True,True,True,True
TIMESTAMPIs_quarter_end,False,False,False,False,False
TIMESTAMPIs_quarter_start,False,False,False,False,False
TIMESTAMPIs_year_end,False,False,False,False,False
TIMESTAMPIs_year_start,False,False,False,False,False
TIMESTAMPElapsed,1493596802,1493597701,1493598601,1493599501,1493600401

<h3>Handling missing values</h3>

<p><strong>TIMESTAMP  2017-06-08 10:45:01 has missing values</strong><p>
<p>Fill this value with next time interval values</p>

In [68]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19146 entries, 0 to 19145
Data columns (total 21 columns):
Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated    19143 non-null float64
Ambient_Temperature_Deg_C                                 19146 non-null float64
Relative_Humidity_Percentage                              19143 non-null float64
Rainfall_mm                                               19145 non-null float64
Barometric_Pressure                                       19143 non-null float64
Plane_of_Array_Irradiance_Tripod_Watt/m2                  19145 non-null float64
HOUR                                                      19146 non-null int64
MINUTE                                                    19146 non-null int64
TIMESTAMPYear                                             19146 non-null int64
TIMESTAMPMonth                                            19146 non-null int64
TIMESTAMPWeek                                             19146 non-null int64
TIMESTAMPDay                                              19146 non-null int64
TIMESTAMPDayofweek                                        19146 non-null int64
TIMESTAMPDayofyear                                        19146 non-null int64
TIMESTAMPIs_month_end                                     19146 non-null bool
TIMESTAMPIs_month_start                                   19146 non-null bool
TIMESTAMPIs_quarter_end                                   19146 non-null bool
TIMESTAMPIs_quarter_start                                 19146 non-null bool
TIMESTAMPIs_year_end                                      19146 non-null bool
TIMESTAMPIs_year_start                                    19146 non-null bool
TIMESTAMPElapsed                                          19146 non-null int64
dtypes: bool(6), float64(6), int64(9)
memory usage: 2.3 MB

In [47]:
df2.iloc[3521]

Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated             0
Ambient_Temperature_Deg_C                                          0
Relative_Humidity_Percentage                                       0
Rainfall_mm                                                        0
Barometric_Pressure                                                0
Plane_of_Array_Irradiance_Tripod_Watt/m2                           0
HOUR                                                              15
MINUTE                                                            42
TIMESTAMPYear                                                   2017
TIMESTAMPMonth                                                     6
TIMESTAMPWeek                                                     23
TIMESTAMPDay                                                       8
TIMESTAMPDayofweek                                                 3
TIMESTAMPDayofyear                                               159
TIMESTAMPIs_month_end                                          False
TIMESTAMPIs_month_start                                        False
TIMESTAMPIs_quarter_end                                        False
TIMESTAMPIs_quarter_start                                      False
TIMESTAMPIs_year_end                                           False
TIMESTAMPIs_year_start                                         False
TIMESTAMPElapsed                                          1496936557
Name: 3521, dtype: object

In [48]:
df2.iloc[3520]

Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated           NaN
Ambient_Temperature_Deg_C                                          0
Relative_Humidity_Percentage                                     NaN
Rainfall_mm                                                      NaN
Barometric_Pressure                                              NaN
Plane_of_Array_Irradiance_Tripod_Watt/m2                         NaN
HOUR                                                              10
MINUTE                                                            45
TIMESTAMPYear                                                   2017
TIMESTAMPMonth                                                     6
TIMESTAMPWeek                                                     23
TIMESTAMPDay                                                       8
TIMESTAMPDayofweek                                                 3
TIMESTAMPDayofyear                                               159
TIMESTAMPIs_month_end                                          False
TIMESTAMPIs_month_start                                        False
TIMESTAMPIs_quarter_end                                        False
TIMESTAMPIs_quarter_start                                      False
TIMESTAMPIs_year_end                                           False
TIMESTAMPIs_year_start                                         False
TIMESTAMPElapsed                                          1496918701
Name: 3520, dtype: object

In [49]:
df2.iloc[3519]

Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated             0
Ambient_Temperature_Deg_C                                          0
Relative_Humidity_Percentage                                       0
Rainfall_mm                                                        0
Barometric_Pressure                                                0
Plane_of_Array_Irradiance_Tripod_Watt/m2                           0
HOUR                                                              10
MINUTE                                                            30
TIMESTAMPYear                                                   2017
TIMESTAMPMonth                                                     6
TIMESTAMPWeek                                                     23
TIMESTAMPDay                                                       8
TIMESTAMPDayofweek                                                 3
TIMESTAMPDayofyear                                               159
TIMESTAMPIs_month_end                                          False
TIMESTAMPIs_month_start                                        False
TIMESTAMPIs_quarter_end                                        False
TIMESTAMPIs_quarter_start                                      False
TIMESTAMPIs_year_end                                           False
TIMESTAMPIs_year_start                                         False
TIMESTAMPElapsed                                          1496917801
Name: 3519, dtype: object

<p><strong>TIMESTAMP  2017-11-23 08:37:00 has missing values</strong><p>
<p>Fill this value with next time interval values</p>

In [52]:
df2.iloc[19026]

Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated           NaN
Ambient_Temperature_Deg_C                                      28.95
Relative_Humidity_Percentage                                     NaN
Rainfall_mm                                                        0
Barometric_Pressure                                              NaN
Plane_of_Array_Irradiance_Tripod_Watt/m2                     517.686
HOUR                                                               8
MINUTE                                                            37
TIMESTAMPYear                                                   2017
TIMESTAMPMonth                                                    11
TIMESTAMPWeek                                                     47
TIMESTAMPDay                                                      23
TIMESTAMPDayofweek                                                 3
TIMESTAMPDayofyear                                               327
TIMESTAMPIs_month_end                                          False
TIMESTAMPIs_month_start                                        False
TIMESTAMPIs_quarter_end                                        False
TIMESTAMPIs_quarter_start                                      False
TIMESTAMPIs_year_end                                           False
TIMESTAMPIs_year_start                                         False
TIMESTAMPElapsed                                          1511426220
Name: 19026, dtype: object

<p><strong>TIMESTAMP  2017-11-23 08:38:57 has missing values</strong><p>
<p>Fill this value with next time interval values</p>

In [53]:
df2.iloc[19027]

Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated           NaN
Ambient_Temperature_Deg_C                                    28.9675
Relative_Humidity_Percentage                                     NaN
Rainfall_mm                                                        0
Barometric_Pressure                                              NaN
Plane_of_Array_Irradiance_Tripod_Watt/m2                     521.882
HOUR                                                               8
MINUTE                                                            38
TIMESTAMPYear                                                   2017
TIMESTAMPMonth                                                    11
TIMESTAMPWeek                                                     47
TIMESTAMPDay                                                      23
TIMESTAMPDayofweek                                                 3
TIMESTAMPDayofyear                                               327
TIMESTAMPIs_month_end                                          False
TIMESTAMPIs_month_start                                        False
TIMESTAMPIs_quarter_end                                        False
TIMESTAMPIs_quarter_start                                      False
TIMESTAMPIs_year_end                                           False
TIMESTAMPIs_year_start                                         False
TIMESTAMPElapsed                                          1511426337
Name: 19027, dtype: object

<p>Check 19025 row <p>

In [58]:
df2.iloc[19025]

Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated         132.8
Ambient_Temperature_Deg_C                                    28.9247
Relative_Humidity_Percentage                                  77.127
Rainfall_mm                                                        0
Barometric_Pressure                                          1002.52
Plane_of_Array_Irradiance_Tripod_Watt/m2                     511.448
HOUR                                                               8
MINUTE                                                            30
TIMESTAMPYear                                                   2017
TIMESTAMPMonth                                                    11
TIMESTAMPWeek                                                     47
TIMESTAMPDay                                                      23
TIMESTAMPDayofweek                                                 3
TIMESTAMPDayofyear                                               327
TIMESTAMPIs_month_end                                          False
TIMESTAMPIs_month_start                                        False
TIMESTAMPIs_quarter_end                                        False
TIMESTAMPIs_quarter_start                                      False
TIMESTAMPIs_year_end                                           False
TIMESTAMPIs_year_start                                         False
TIMESTAMPElapsed                                          1511425826
Name: 19025, dtype: object

<p>Check 19028 row</p>

In [59]:
df2.iloc[19028]

Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated       160.448
Ambient_Temperature_Deg_C                                    29.0621
Relative_Humidity_Percentage                                 75.6219
Rainfall_mm                                                        0
Barometric_Pressure                                          1002.57
Plane_of_Array_Irradiance_Tripod_Watt/m2                      566.32
HOUR                                                               8
MINUTE                                                            45
TIMESTAMPYear                                                   2017
TIMESTAMPMonth                                                    11
TIMESTAMPWeek                                                     47
TIMESTAMPDay                                                      23
TIMESTAMPDayofweek                                                 3
TIMESTAMPDayofyear                                               327
TIMESTAMPIs_month_end                                          False
TIMESTAMPIs_month_start                                        False
TIMESTAMPIs_quarter_end                                        False
TIMESTAMPIs_quarter_start                                      False
TIMESTAMPIs_year_end                                           False
TIMESTAMPIs_year_start                                         False
TIMESTAMPElapsed                                          1511426704
Name: 19028, dtype: object

In [78]:
os.makedirs('tmp', exist_ok=True)
df2.to_feather('tmp/weather-raw')

In [79]:
df_raw = pd.read_feather('tmp/weather-raw')

In [80]:
df_backup = df_raw

In [81]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19146 entries, 0 to 19145
Data columns (total 21 columns):
Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated    19143 non-null float64
Ambient_Temperature_Deg_C                                 19146 non-null float64
Relative_Humidity_Percentage                              19143 non-null float64
Rainfall_mm                                               19145 non-null float64
Barometric_Pressure                                       19143 non-null float64
Plane_of_Array_Irradiance_Tripod_Watt/m2                  19145 non-null float64
HOUR                                                      19146 non-null int64
MINUTE                                                    19146 non-null int64
TIMESTAMPYear                                             19146 non-null int64
TIMESTAMPMonth                                            19146 non-null int64
TIMESTAMPWeek                                             19146 non-null int64
TIMESTAMPDay                                              19146 non-null int64
TIMESTAMPDayofweek                                        19146 non-null int64
TIMESTAMPDayofyear                                        19146 non-null int64
TIMESTAMPIs_month_end                                     19146 non-null bool
TIMESTAMPIs_month_start                                   19146 non-null bool
TIMESTAMPIs_quarter_end                                   19146 non-null bool
TIMESTAMPIs_quarter_start                                 19146 non-null bool
TIMESTAMPIs_year_end                                      19146 non-null bool
TIMESTAMPIs_year_start                                    19146 non-null bool
TIMESTAMPElapsed                                          19146 non-null int64
dtypes: bool(6), float64(6), int64(9)
memory usage: 2.3 MB

<h3>Fill missing values : raw 3520</h3>

In [82]:
df_raw.loc[3520,'Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated'] = 141.5
df_raw.loc[3520, 'Relative_Humidity_Percentage'] = 0
df_raw.loc[3520, 'Rainfall_mm'] = 0
df_raw.loc[3520, 'Barometric_Pressure'] = 0
df_raw.loc[3520, 'Plane_of_Array_Irradiance_Tripod_Watt/m2'] = 0

In [83]:
df_raw.iloc[3520]

Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated             0
Ambient_Temperature_Deg_C                                          0
Relative_Humidity_Percentage                                       0
Rainfall_mm                                                        0
Barometric_Pressure                                                0
Plane_of_Array_Irradiance_Tripod_Watt/m2                           0
HOUR                                                              10
MINUTE                                                            45
TIMESTAMPYear                                                   2017
TIMESTAMPMonth                                                     6
TIMESTAMPWeek                                                     23
TIMESTAMPDay                                                       8
TIMESTAMPDayofweek                                                 3
TIMESTAMPDayofyear                                               159
TIMESTAMPIs_month_end                                          False
TIMESTAMPIs_month_start                                        False
TIMESTAMPIs_quarter_end                                        False
TIMESTAMPIs_quarter_start                                      False
TIMESTAMPIs_year_end                                           False
TIMESTAMPIs_year_start                                         False
TIMESTAMPElapsed                                          1496918701
Name: 3520, dtype: object

<h3>Fill missing values : raw 19026</h3>

In [85]:
df_raw.loc[19026,'Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated'] = 0
df_raw.loc[19026, 'Relative_Humidity_Percentage'] = 76.5
df_raw.loc[19026, 'Barometric_Pressure'] = 1002.57

In [86]:
df_raw.loc[19027,'Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated'] = 0
df_raw.loc[19027, 'Relative_Humidity_Percentage'] = 75.9
df_raw.loc[19027, 'Barometric_Pressure'] = 1002.57

In [ ]:
#X = df.drop('SalePrice', axis=1)
#y = df['SalePrice']

<h2>Create the classifier</h2>

<p>Backup df raw</p>

In [87]:
df_raw_backup = df_raw

In [88]:
os.makedirs('tmp', exist_ok=True)
df_raw_backup.to_feather('tmp/weatherBackup-raw')

In [89]:
#get X values:
X = df_raw.drop('Plane_of_Array_Irradiance_Tripod_Watt/m2', axis=1)
y = df_raw['Plane_of_Array_Irradiance_Tripod_Watt/m2']

In [90]:
m = RandomForestRegressor(n_jobs=-1)
m.fit(X, y)
#m.score(df2,y1)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [91]:
m.score(X,y)

0.9898529572808623