In [1]:
a = 'Donald Trump is the president of US'

In [2]:
a

'Donald Trump is the president of US'

In [4]:
a[5]

'd'

In [5]:
a[:5]

'Donal'

In [6]:
a[3:]

'ald Trump is the president of US'

In [7]:
a[3:6]

'ald'

In [8]:
a[10: 25]

'mp is the presi'

In [9]:
mylist = ['a', 'b', 'c']

In [10]:
mylist

['a', 'b', 'c']

In [11]:
mylist.append('d')

In [12]:
mylist

['a', 'b', 'c', 'd']

In [13]:
mylist[3]

'd'

In [14]:
mylist[0:3
      ]

['a', 'b', 'c']

In [15]:
mylist[2:3
      ]

['c']

In [17]:
mylist[0] = 'New assignment'

In [18]:
mylist

['New assignment', 'b', 'c', 'd']

In [19]:
newlist = ['a', 'hello', 3, 4]

In [20]:
newlist

['a', 'hello', 3, 4]

In [21]:
n', 'Hello'], 34, 5]

In [22]:
nested_list

[32, 5, 6, ['a', 'b', 'Hello'], 34, 5]

In [23]:
nested_list[2]

6

In [24]:
nested_list[4]

34

In [25]:
nested_list[3]

['a', 'b', 'Hello']

In [26]:
nested_list[3][0]

'a'

Dictionaries

In [27]:
dictionary_1 = { 'key': 'value1', 'key2': 'key3', 'key3': 3}

In [28]:
dictionary_1

{'key': 'value1', 'key2': 'key3', 'key3': 3}

In [31]:
dictionary_1['key']

'value1'

In [32]:
dictionary_1['key3']

3

In [33]:
dictionary_1['key2'][1]

'e'

In [34]:
d = {'k1':{'innerKey': [1,2,3]}}

In [35]:
d['k1']

{'innerKey': [1, 2, 3]}

In [37]:
d['k1']['innerKey']

[1, 2, 3]

In [38]:
True

True

In [39]:
1 == 2

False

In [40]:
t = (1,2,3)

In [41]:
t

(1, 2, 3)

In [42]:
t[0]

1

Tubples are immutable
[0] = 2

So cannot do assignments once declared

# SETS

Sets does not have unique elemts

In [47]:
a = {2, 5, 3}

In [48]:
a

{2, 3, 5}

In [49]:
setA = {'a', 'a', 'a', 'b', 'c','c','d','d'}

In [50]:
setA

{'a', 'b', 'c', 'd'}

In [51]:
lista = [1,5,55,5,2,2,5,35,'3', 'Hello', 'hello']

In [52]:
lista

[1, 5, 55, 5, 2, 2, 5, 35, '3', 'Hello', 'hello']

# set() SET function return only unique elements

In [53]:
abc = set(lista)

In [54]:
abc

{1, 2, 5, 35, 55, '3', 'Hello', 'hello'}

In [55]:
abc.add('CK')

In [56]:
abc

{1, 2, 5, 35, 55, '3', 'CK', 'Hello', 'hello'}

## User add() method to add new item to set

# Compariston Operations

In [58]:
1 > 2

False

In [59]:
'c' == 2

False

In [61]:
(1 > 2 ) and (2 > 3)

False

In [62]:
2 > 1 and 2 > 0

True

In [63]:
False and False

False

In [65]:
if(3> 2):
    print('aa')

aa

In [67]:
a = 10
if(a > 30):
    print('a is greater than 10')
elif(a == 10):
    print('middle is correct')
else:
    print('a is smaller')

middle is correct

In [2]:
def myMethod(param1, param2):
    print (param1+' '+param2)
    
myMethod('hi','hello')

hi hello

##Passing default values to param
## User = sign

In [14]:
def newMethod(param1='e', param2='a'):
    print ('Hi '+param1+' You are '+param2)
    
newMethod()

Hi e You are a

In [20]:
def squiare(num):
    """""
    Multline comments
    """""
    return num**2

squiare(2)

4

In [22]:
range(1, 10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Lambda Expressions
# Filter functions

In [25]:
def times(var):
    return var*2;

times(2)

4

In [ ]:
listOfNumbers = [1,2,3,4,5,6,7]